@font-face {
  font-family: comical;
  src: url('../fonts/LT\ Comical.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body 
{
  background: #373E98;
  font-family: comical;
}

.parent-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container 
{ 
  width: 700px;
  height: 230px;  
  background: #fee36e;
  text-align: center;
  padding: 30px;
  border-radius: 0 0 20px 20px;
}

.weather-header
{
  position: relative;
  color: #2a2a2a;
  font-size: 27px;
}

.search-input
{
  position: relative;
  font-size: 1.5em;
  padding: 3px;
  display: inline-block;
  border-radius: 9999em;
}

.weather-header > input
{
  width: 450px;
  height: 45px;
  border-radius: 15px;
  outline: none;
  border: 3px solid #373E98;
  padding-left: 20px;
  font-size: 22px;
  margin-top: 30px;
}

.weather-header > input::-webkit-search-cancel-button 
{
  -webkit-appearance: none;
} 

.weather-body
{
  position: relative;
  margin-top: 140px;
  background: #f16775;
  height: 350px;
  border-radius: 20px;
}

.weather-body > ul {
  list-style-type: none;
  font-size: 30px;
  padding-top: 13px;
  width: 100%;
}

.weather-body ul > li {
  padding-top: 17px;
}

.weather-body ul > li:nth-child(2) {
  margin-top: 30px;
}

.weather-body li > span {color: #eee; font-weight: bold;}

.not-found
{
  position: relative;
  margin-top: 100px;
  height: 90px;
  font-size: 24px;
  color: #fff;
  background-color: #ff4d4d;
  border: 1px solid #cc0000;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loader-container
{
  width: 100%;
  height: 100vh;
  background: #373E98;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.loader-spinner > img
{
  width: 120px;
  animation: loader 4s linear infinite;
}

@keyframes loader {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {  
  .container
  {
    height: 210px;
    margin: 0 20px 0 20px;
    padding: 35px 15px 0 15px;
  }

  .weather-header {font-size: 3.5vw;}

  .weather-header > input{width: 80%;}

  .not-found {font-size: 3.5vw;}
}

@media screen and (max-width: 525px) {
  .weather-header > input {font-size: 4vw;}
  .not-found {padding: 25px 15px;}
  .weather-body ul > li {
    font-size: 5.5vw;
  }
}

@media screen and (max-width:450px) {
  .weather-body > ul {padding-top: 30px;}
}